:root {
    --border: 1px solid black;
    --background: rgb(157, 157, 218);
    --secondary-back: rgb(201, 197, 209);
    --main-back: rgb(231, 231, 221);
    --dark-back: rgb(81, 81, 114);
    --contrast: rgb(158, 136, 12);
}

.about-sec {
    background: var(--main-back);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
}

.about-sec h1 {
    font-size: 44px;
    font-weight: bold;
    color: var(--dark-back);
    padding: 1%;
}

.about-sec .contents {
    display: flex;
}

.about-sec img {
    height: 20%;
    width: 20%;
    object-fit: contain;
    object-position: center;
    margin: 1%;
    border-radius: 10px;
    border: 5px solid var(--background);
}

.about-sec p {
    padding: 1%;
    font-size: 20px;
}

