:root {
    --border: 1px solid black;
    --background: rgb(157, 157, 218);
    --secondary-back: rgb(201, 197, 209);
    --main-back: rgb(231, 231, 221);
    --dark-back: rgb(81, 81, 114);
    --contrast: rgb(158, 136, 12);
}

.about-container {
    background: var(--main-back);
}

.about-me {
    font-size: 44px;
    font-weight: bold;
    color: var(--dark-back);
}

.profile-pic {
    background: url(../../assets/profile-picture.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    border: 3px solid var(--background);
    border-radius: 10px;
}

