:root {
    --border: 1px solid black;
    --background: rgb(157, 157, 218);
    --secondary-back: rgb(201, 197, 209);
    --main-back: rgb(231, 231, 221);
    --dark-back: rgb(81, 81, 114);
    --contrast: rgb(158, 136, 12);
}

.form-sec {
    background: var(--background);
    border-radius: 10px;
}

.gen-label {
    width: 20%;
}

.gen-input {
    width: 75%;
    height: 20%;
    border-radius: 5px;
}