:root {
    --border: 1px solid black;
    --background: rgb(157, 157, 218);
    --secondary-back: rgb(201, 197, 209);
    --main-back: rgb(231, 231, 221);
    --dark-back: rgb(81, 81, 114);
    --contrast: rgb(158, 136, 12);
}

.nav-bar {
    background: var(--dark-back);
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar h1 {
    background: var(--main-back);
    color: var(--background);
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    font-weight: bold;
    font-size: 2em;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.nav-bar .nav-link {
    text-decoration: none;
    color: var(--background);
    font-size: 2em;
}

.nav-bar .nav-link:hover {
    color: var(--main-back);
}

