:root {
    --border: 1px solid black;
    --background: rgb(157, 157, 218);
    --secondary-back: rgb(201, 197, 209);
    --main-back: rgb(231, 231, 221);
    --dark-back: rgb(81, 81, 114);
    --contrast: rgb(158, 136, 12);
}

.nav-bar {
    background: var(--background)
}

.nav-bar h1 {
    color: salmon;
}

.nav-bar .nav-link {
    text-decoration: none;
    color: blue;
}

.nav-bar .nav-link:hover {
    color: red;
}
