:root {
    --border: 1px solid black;
    --background: rgb(157, 157, 218);
    --secondary-back: rgb(201, 197, 209);
    --main-back: rgb(231, 231, 221);
    --dark-back: rgb(81, 81, 114);
    --contrast: rgb(158, 136, 12);
}

.nav-container {
    background: var(--dark-back);
}

.nav-name {
    background: var(--main-back);
    color: var(--background);
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    text-decoration: none;
    color: var(--main-back);
    font-size: 20px;
    font-weight: bold;
}

.nav-links:hover {
    color: var(--background);
    font-weight: bold;
}

